*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app--container{
    background-image: linear-gradient(to bottom right, rgb(98, 5, 98), black);
    width: 380px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    margin: 10px auto;
    border-radius: 7px;
}
.increment, .decrement{
    margin: 5px;
    padding: 10px;
    width: 170px;
    background-color: rgb(0, 179, 255);
    color: white;
    font-family: cursive;
    border: none;
    border-radius: 7px;
    outline: none;
}
.increment:hover, .decrement:hover{
    background-color: rgb(0, 98, 255);
}
.increment:active, .decrement:active{
    background-color: rgb(200, 200, 200);
}
.Save{
    margin: 7px;
    padding: 10px;
    width: 170px;
    background-color: rgb(0, 177, 15);
    font-family: cursive;
    border-radius: 7px;
    outline: none;
    border: none;

}
.Save:hover{
    background-color: rgb(106, 255, 37);
}
.Save:active{
    background-color: rgb(255, 255, 255);
}
.count--record{
    margin: 10px;
}